src/main/resources/wsdl/CheckCreditworthinessBPS/BPS-SVC-FinancialBackgroundChecking-1.0-standard-def.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="BPS-FinancialBackgroundChecking-1.0-standard" targetNamespace="urn:v1.financialbackgroundchecking.bps.services.bgc" xmlns:wstns="urn:v1.financialbackgroundchecking.bps.services.bgc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:techerr="urn:v1.technicalerror.vss.objects.bgc" xmlns:funcerr="urn:v1.functionalerror.vss.objects.bgc">
    <wsdl:types>
        <xsd:schema targetNamespace="urn:v1.financialbackgroundchecking.bps.services.bgc" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
            <xsd:import namespace="urn:v1.technicalerror.vss.objects.bgc" schemaLocation="http://ssr.web.bc/repository/VSS/OBJ/TechnicalError/1.0/VSS-OBJ-TechnicalError-1.0.xsd"/>
            <xsd:import namespace="urn:v1.functionalerror.vss.objects.bgc" schemaLocation="http://ssr.web.bc/repository/VSS/OBJ/FunctionalError/1.0/VSS-OBJ-FunctionalError-1.0.xsd"/>
            <xsd:include schemaLocation="http://ssr.web.bc/repository/BPS/SVC/FinancialBackgroundChecking/1.0/BPS-SVC-FinancialBackgroundChecking-1.0.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <!-- ================================================== -->
    <!-- Messages                                           -->
    <!-- ================================================== -->
    <!-- CheckCreditworthiness Message -->
    <wsdl:message name="CheckCreditworthinessRequestMessage">
        <wsdl:part name="CheckCreditworthinessRequestMessagePart" element="wstns:RequestDataCheckCreditworthiness"/>
    </wsdl:message>
    <wsdl:message name="CheckCreditworthinessResponseMessage">
        <wsdl:part name="CheckCreditworthinessResponseMessagePart" element="wstns:ResponseDataCheckCreditworthiness"/>
    </wsdl:message>
    <!-- CheckService Message -->
    <wsdl:message name="CheckServiceRequestMessage">
        <wsdl:part name="CheckServiceRequestMessagePart" element="wstns:RequestDataCheckService"/>
    </wsdl:message>
    <wsdl:message name="CheckServiceResponseMessage">
        <wsdl:part name="CheckServiceResponseMessagePart" element="wstns:ResponseDataCheckService"/>
    </wsdl:message>
    <wsdl:message name="TechnicalFaultMessage">
        <wsdl:part name="TechnicalFaultMessagePart" element="techerr:TechnicalError"/>
    </wsdl:message>
    <wsdl:message name="FunctionalFaultMessage">
        <wsdl:part name="FunctionalFaultMessagePart" element="funcerr:FunctionalError"/>
    </wsdl:message>
    <!-- ================================================== -->
    <!-- PortType                                           -->
    <!-- ================================================== -->
    <wsdl:portType name="FinancialBackgroundCheckingPortType">
        <wsdl:operation name="CheckCreditworthiness">
            <wsdl:input name="CheckCreditworthinessInput" message="wstns:CheckCreditworthinessRequestMessage"/>
            <wsdl:output name="CheckCreditworthinessOutput" message="wstns:CheckCreditworthinessResponseMessage"/>
            <wsdl:fault name="TechnicalFault" message="wstns:TechnicalFaultMessage"/>
            <wsdl:fault name="FunctionalFault" message="wstns:FunctionalFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CheckService">
            <wsdl:input name="CheckServiceInput" message="wstns:CheckServiceRequestMessage"/>
            <wsdl:output name="CheckServiceOutput" message="wstns:CheckServiceResponseMessage"/>
            <wsdl:fault name="TechnicalFault" message="wstns:TechnicalFaultMessage"/>
            <wsdl:fault name="FunctionalFault" message="wstns:FunctionalFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>